body {
     background-color: teal;          
}

.main {
    width: 225px;
    margin: 100px auto;
}   

.result {
    width: 99%;
    padding: 12px;
    text-align: right;   
    background-color: honeydew;
    color: black;
    font-size: 16px;
    
}

.clearBtn {
    display: inline-block;
    position: relative;    
    width: 48%;
    border-radius: 10%;
    outline: none;
    margin-top: 10px;
}

.btn {
    background-color: FloralWhite;
    color: black;
    width: 51px;
    margin: 0.3%;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
       
}

.halfBtn {
    background-color: FloralWhite;
    width: 71px;
    margin-top: 10px;
}
